*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    margin-bottom: 10px;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 8px 0;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #222;
    color: #fff;
}

.correct{
    background: #4CAF50;
    color: white;
}

.incorrect{
    background: #f44336;
    color: white;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;
    display: none;
    cursor: pointer;
}
